@import "root";

body {
  overflow-x: hidden !important;
  color: #020a1c;
}
@keyframes twinkle-star {
    from {transform: scale(1); }
    to {transform: scale(1.5); }
  }
  @keyframes twinkle-star-small {
    from {transform: scale(1); }
    to {transform: scale(0.8); }
  }
  @keyframes float {
    from {transform: translate(0rem, 2rem);}
    to {    transform: translate(1rem, 0); }
  }
.section-title {
    font-family: "silka-bold", Arial, sans-serif;
    margin-bottom: 1.6rem;
    @include fontRender($fontTitle, 3.2rem, 700, 4rem);
  }
@mixin para {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.67;
  color: #424855;
}
html {
  scroll-behavior: smooth;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
@mixin subhead {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7;
  color: $fontTitle;
}

header{
    background-color: $background;
    .navbar{
        padding: 2rem 10%;
        @include respond(tab-land){
            padding: 2rem 5%;
        }
        .navbar-brand{
            max-width: 15rem;
            img{
                width: 100%;
            }
        }
        .navbar-collapse{
            justify-content: space-between;
            font-size: 1.6rem;
            .navbar-nav{
                padding-left: 5rem;
                .nav-item{
                    padding: 0 0 0 2rem;
                }
            }
        }
    }
}
main{
    background-color: $background;
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12rem 10% 16rem;
        background-color: $background;
        position: relative;
        @include respond(tab-land){
            padding: 12rem 5% 6rem;
        }
        @include respond(phone){
            flex-direction: column;
            padding-top: 6rem;
        }
        .left{
            width: 50%;
            @include respond(tab-land){
                width: 50%;
            }
            @include respond(phone){
                width: 100%;
            }
            .banner-title{
                @include fontRender($fontTitle, 8rem, 700, 7.8rem);
                font-family: "silka-bold", Arial, sans-serif;
                .highlight{
                    color: $brandBlueOne;
                }
            }
            .banner-desc{
                @include fontRender($fontPrimary, 1.8rem, 500, 1.4);
                padding-top: 2rem;
            }
            form{
                .innerForm{
                    display: grid;
                    grid-template-columns: 60% 30%;
                    margin-top: 3rem;
                .gstInp{
                    
                    input{
                        height: 5rem;
                        line-height: 1.4;
                        color: $brandBlueTwo;
                        font-weight: bold;
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        &::placeholder{
                            opacity: 0.7;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                    }
                }
                .cta{
                    height: 5rem;
                    background-color: $brandBlueOne;
                    font-weight:bold;
                    font-size: 1.6rem;
                    padding: 0.8rem 2rem;
                    border-radius: 3rem;
                    margin-left: 2rem;
                }
            }
            #existUser{
                font-family: $fontfamilyRegular;
                color: red;
                font-size: 1.4rem;
            }
            }
        }
        .right{
            width: 40%;
            @include respond(phone){
                width: 100%;
                padding-top: 3rem;
            }
            .banner-img{
                max-width: 100%;
            }
        }
    }
    .message-section{
        padding: 8rem 10% 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(209.76deg, #6851FF 18.19%, #4537A2 103.81%);
        .section-title{
            text-align: left;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.4;
            color: $fontwhite;
            // width: 50%
        .breaknewline{
            @include respond(tab-port){
                display: none;
            }
        }
    }
    .section-1{
        padding-bottom: 3rem;
        .section-title{
                text-align: center;
                font-size: 5.6rem;
                font-weight: 700;
            .breaknewline{
                @include respond(tab-port){
                    display: none;
                }
            }
        }
        .main-box{
            display: grid;
            gap: 0 4rem;
            grid-template-columns: repeat(3, 1fr);
            padding-top: 3rem;
            align-items: baseline;
            @include respond(phone){
                grid-template-columns: 1fr;
                gap: 3rem 0;
            }
            .stat{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                
                .stat-number{
                    font-size: 12rem;
                    text-align: center;
                    font-weight: 700;
                    color:#FFF;
                    line-height: 1.7;
                }
                // &:last-child{
                //    .stat-number{
                //       position: relative;
                //       &::after{
                //           content: "Million";
                //           position: absolute;
                //           top: 25%;
                //           left: 140%;
                //           font-size: 2rem;
                //           font-weight: 400;
                //       }
                //    }
                // }
                .stat-title{
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
    .form-box{
        width: 60%;
        form{
            display: grid;
                grid-template-columns: 60% 40%;
                margin-top: 3rem;
                // align-items: center;
                justify-items: center;
            .gstInp{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                input{
                    height: 5rem;
                    line-height: 1.4;
                    color: $brandBlueTwo;
                    font-weight: bold;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    &::placeholder{
                        opacity: 0.7;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
            .cta{
                height: 5rem;
                background-color: transparent;
                font-weight:600;
                font-size: 1.8rem;
                letter-spacing: 1px;
                padding: 0.8rem 2rem;
                border-radius: 3rem;
                margin-left: 2rem;
                border: 1px solid #fff;
            }
        }
    }
    }
    .section-2{
        padding: 6rem 10%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        text-align: center;
        @include respond(phone){
            padding: 6rem 5%;
        }
        .section-title{
            text-align: center;
    font-size: 5.6rem;
    font-weight: 700;
    padding-bottom: 5rem;
        }
    }
    .section-4{
        padding: 6rem 10%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        text-align: center;
        background: $blueGradient;
        @include respond(phone){
            padding: 6rem 5%;
        }
        .message{
            @include fontRender($fontwhite, 2rem, 500, 1.4);
        }
        .section-title{
            @include fontRender($fontwhite, 5.6rem, 700, 6.7rem);
        }
        .desc{
            @include fontRender($fontWhite-60, 1.6rem, 500, 1.4);
            
        }
        .main-box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 3rem;
            padding-top: 5rem;
            @include respond(phone){
                grid-template-columns: repeat(2, 1fr);
                gap: 0 3rem;
            }
            .box{
                .box-img{
                    margin-bottom: 2rem
                }
                .content{
                    @include fontRender($fontwhite, 1.6rem, 500, 1.4);
                }
            }
        }
        .cta{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            .cta-btn{
                color: $fontPrimary;
            }
        }
    }
    .section-5{
        display: flex;
        flex-direction: column;
        padding: 6rem 10% 15rem;
        @include respond(tab-land){
            padding: 6rem 5%;
        }
        .section-title{
            @include fontRender($fontPrimary, 5.6rem, 700, 6.7rem);
            width: 100%;
            text-align: center;
            @include respond(phone){
                width: 100%;
            }
            .highlight{
                color: $brandBlueOne;
            }
        }
        .sec-desc{
            @include fontRender($fontPrimary, 2.2rem, 500, 1.4);
            text-align: center;
        }
        .main-box{
            padding-top: 5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 6rem;
            @include respond(phone){
                grid-template-columns: 1fr;
                gap: 3rem 0;
            }
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                padding: 2rem 3rem;
                border-radius: 10px;
                .box-img{
                    width: 20rem;
                }
                .box-title{
                    @include fontRender($fontTitle, 2.8rem, 700, 1.4);
                    padding: 2rem 0;
                    .highlight{
                        color: rgba(104, 81, 255, 0.4);
                    }
                }
                .content{
                    @include fontRender($font-60, 1.8rem, 500, 1.4);
                    text-align: center;
                }
            }
        }
    }
    .section-6{
        display: flex;
        flex-direction: column;
        padding: 6rem 10% 15rem;
        @include respond(tab-land){
            padding: 6rem 5%;
        }
        .section-title{
            @include fontRender($fontPrimary, 5.6rem, 700, 6.7rem);
            width: 100%;
            text-align: center;
            @include respond(phone){
                width: 100%;
            }
            .highlight{
                color: $brandBlueOne;
            }
        }
        .sec-desc{
            @include fontRender($fontPrimary, 2.2rem, 500, 1.4);
            text-align: center;
        }
        .main-box{
            padding-top: 5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 6rem;
            @include respond(phone){
                grid-template-columns: 1fr;
                gap: 3rem 0;
            }
            .box{
                .box-img{
                    width: 20rem;
                }
                .box-title{
                    @include fontRender($fontTitle, 2.8rem, 700, 1.4);
                    padding: 2rem 0;
                    .highlight{
                        color: rgba(104, 81, 255, 0.4);
                    }
                }
                .content{
                    @include fontRender($font-60, 1.8rem, 500, 1.4);
                }
            }
        }
    }
    .section-7{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12rem 10%;
        flex-direction: column;
        background: $blueGradient;
        text-align: center;
        @include respond(phone){
            padding: 12rem 5%;
        }
        .section-title{
            @include fontRender($fontwhite, 4.8rem, 700, 6.7rem);
        }
        .sec-desc{
            @include fontRender($fontWhite-60, 1.8rem, 500, 1.4);
            margin-bottom: 7rem;
        }
        .cta{
            .cta-btn{
                padding: 2rem 4rem;
                color: $fontPrimary;
            }
        }
    }
}
footer{
    background-color: $brandBlueTwo;
    padding: 6rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer-top{
        .main-box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem 4rem;
            color: #fff;
            justify-content: space-between; 
            .box{
                .box-title{
                    font-family: $fontfamilyBold;
                    font-size: 2.4rem;
                    line-height: 1.7;
                    margin-bottom: 2rem;
                }
                .content{
                    font-family: $fontfamilyRegular;
                    font-size: 1.6rem;
                    line-height: 1.4;
                    margin-bottom: 2rem;
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    
                    margin-bottom: 2rem;
                    a{
                        color: #fff;
                        font-family: $fontfamilyRegular;
                        font-size: 1.6rem;
                        line-height: 1.4;
                        margin-bottom: 1rem;
                        text-decoration: none;
                            &:hover{
                                text-decoration: none;
                                color:$fontWhite-60;
                            }
                    }
                    
                }
            }
        }
    }
    .footer-bottom{
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.4;
        font-family: $fontfamilyRegular;
        color: $fontWhite-60;
    }
}
.error{
    border: 2px solid #ff623e;
    &:focus{
        border: 2px solid #ff623e;
        box-shadow: none;
    }
}