@import "root";

body {
  overflow-x: hidden !important;
  color: #020a1c;
}
@keyframes twinkle-star {
    from {transform: scale(1); }
    to {transform: scale(1.5); }
  }
  @keyframes twinkle-star-small {
    from {transform: scale(1); }
    to {transform: scale(0.8); }
  }
  @keyframes float {
    from {transform: translate(0rem, 2rem);}
    to {    transform: translate(1rem, 0); }
  }
.section-title {
    font-family: "silka-bold", Arial, sans-serif;
    margin-bottom: 1.6rem;
    @include fontRender($fontTitle, 3.2rem, 700, 4rem);
  }
@mixin para {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.67;
  color: #424855;
}
html {
  scroll-behavior: smooth;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
@mixin subhead {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7;
  color: $fontTitle;
}

header{
    background-color: $background;
    .navbar{
        padding: 2rem 10%;
        @include respond(tab-land){
            padding: 2rem 5%;
        }
        .navbar-brand{
            max-width: 15rem;
            img{
                width: 100%;
            }
        }
        .navbar-collapse{
            justify-content: space-between;
            font-size: 1.6rem;
            .navbar-nav{
                padding-left: 5rem;
                .nav-item{
                    padding: 0 0 0 2rem;
                }
            }
        }
    }
}
main{
    background-color: $background;
    .banner{
        
        padding: 6rem 10% 16rem;
        background-color: $background;
        position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
     background-image: linear-gradient(
180deg,rgba(104, 81, 255, 0.3),rgba(255, 255, 255, 0.3)); 

        @include respond(tab-land){
            padding: 12rem 5% 6rem;
        }
        @include respond(phone){
            flex-direction: column;
            padding-top: 6rem;
        }
        .left{
            width: 54%;
            @include respond(tab-land){
                width: 50%;
            }
            @include respond(phone){
                width: 100%;
            }
            .banner-title{
                @include fontRender(#000, 5.4rem, 700, 1.4);
                
                font-family: "silka-bold", Arial, sans-serif;
                .highlight{
                    // color: $brandBlueOne;
                    background: -webkit-linear-gradient(#6851FF, #A700F1);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
                }
                .second-line{
                    color: rgb(80, 78, 78);
                    padding: 1rem;
                    text-decoration: underline;
                }
            }
            .banner-desc{
                @include fontRender($fontfamilypop, 2rem, 500, 1.4);
                padding: 3rem 0 3rem;
            }
            form{
                .innerForm{
                    display: grid;
                    grid-template-columns: 60% 40%;
                    margin-top: 3rem;
                    background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
                    border: 1px soild #4d00aa;
                    border-radius: 1rem;
                    justify-content: space-between;
                .gstInp{
                    
                    input{
                        height: 5rem;
                        line-height: 1.4;
                        color: $brandBlueTwo;
                        font-weight: bold;
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        // border: 1px solid $brandBlueTwo;
                        margin: 0 !important;
                        &::placeholder{
                            opacity: 0.7;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                    }
                }
                .cta{
                    height: 5rem;
                    // background-color: $brandBlueOne;
                    // background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
                    font-weight:bold;
                    font-size: 1.6rem;
                    padding: 0.8rem 2rem;
                    border-radius: 1rem;
                    margin-left: 0rem;
                    background-color: transparent;
                    border: 0;
                }
            }
            #existUser{
                font-family: $fontfamilyRegular;
                color: red;
                font-size: 1.4rem;
            }
            }
        }
        .right{
            width: 40%;
            @include respond(phone){
                width: 100%;
                padding-top: 3rem;
            }
            .banner-img{
                max-width: 100%;
            }
        }
        .main-swiper{
            display: flex;
        justify-content: space-between;
        align-items: center;
        .swiper{
            width: 45%;
            .swiper-slide:not(.swiper-slide-active){
                opacity: 0;
            }
        }
        }
    }
    .banner-section{
        padding: 6rem 10% 16rem;
        background-color: $background;
        position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
     background-image: linear-gradient(
180deg,rgba(104, 81, 255, 0.3),rgba(255, 255, 255, 0.3)); 

        @include respond(tab-land){
            padding: 12rem 5% 6rem;
        }
        @include respond(phone){
            flex-direction: column;
            padding-top: 6rem;
        }
        .slider-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                width: 45%;
                .main-swiper{
                    .swiper{
                        .swiper-slide:not(.swiper-slide-active){
                            opacity: 0 !important;
                        }
                        .swiper-slide{
                            .banner-title{
                                @include fontRender(#000, 5.4rem, 700, 1.4);
                                
                                font-family: "silka-bold", Arial, sans-serif;
                                .highlight{
                                    // color: $brandBlueOne;
                                    background: -webkit-linear-gradient(#6851FF, #A700F1);
                    background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                                }
                                .second-line{
                                    color: rgb(80, 78, 78);
                                    padding: 1rem;
                                    text-decoration: underline;
                                }
                            }
                            .banner-desc{
                                @include fontRender($fontfamilypop, 2rem, 500, 1.4);
                                padding: 3rem 0 1rem;
                            }
                        }
                    }
                }
                form{
                    .innerForm{
                        display: grid;
                        grid-template-columns: 60% 40%;
                        margin-top: 3rem;
                        background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
                        border: 1px soild #4d00aa;
                        border-radius: 1rem;
                        justify-content: space-between;
                    .gstInp{
                        
                        input{
                            height: 5rem;
                            line-height: 1.4;
                            color: $brandBlueTwo;
                            font-weight: bold;
                            font-size: 1.8rem;
                            text-transform: uppercase;
                            // border: 1px solid $brandBlueTwo;
                            margin: 0 !important;
                            &::placeholder{
                                opacity: 0.7;
                                font-weight: 500;
                                text-transform: capitalize;
                            }
                        }
                    }
                    .cta{
                        height: 5rem;
                        // background-color: $brandBlueOne;
                        // background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
                        font-weight:bold;
                        font-size: 1.6rem;
                        padding: 0.8rem 2rem;
                        border-radius: 1rem;
                        margin-left: 0rem;
                        background-color: transparent;
                        border: 0;
                    }
                }
                #existUser{
                    font-family: $fontfamilyRegular;
                    color: red;
                    font-size: 1.4rem;
                }
                }
            }
            .right{
                width: 45%;
                .main-swiper{
                    .swiper{
                        .swiper-slide:not(.swiper-slide-active){
                            opacity: 0 !important;
                        }
                    }
                }
            }
            .swiper-pagination{
                bottom: 20%;
                .swiper-pagination-bullet {
                    height: 1.4rem;
                        width: 1.4rem;
                }
                .swiper-pagination-bullet-active{
                    background-color: $brandBlueOne;
                        background: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
                }
            }
        }
    }
    .message-section{
        padding: 6rem 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        position: relative;
        // background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
        .section-title{
            text-align: left;
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.4;
            color: $fontwhite;
            color: #000;
            // width: 50%
        .breaknewline{
            @include respond(tab-port){
                display: none;
            }
        }
    }
    .section-1{
        padding: 3rem 0 3rem;
        .section-title{
                text-align: center;
                font-size: 5.6rem;
                font-weight: 700;
            .breaknewline{
                @include respond(tab-port){
                    display: none;
                }
            }
        }
        .main-box{
            display: grid;
            gap: 0 4rem;
            grid-template-columns: repeat(3, 1fr);
            padding: 4rem 0;
            align-items: baseline;
            @include respond(phone){
                grid-template-columns: 1fr;
                gap: 3rem 0;
            }
            .stat{
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: space-between;
                
                .stat-number{
                    font-size: 10rem;
                    font-weight: 700;
                    color:#FFF;
                    line-height: 1;
                    font-family: $fontfamilypop;
                    padding-bottom: 3rem ;
                    background: -webkit-linear-gradient(#6851FF, #A700F1);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
                    
                }
                &:last-child{
                   .stat-number{
                      position: relative;
                    //   margin-left: -12rem;
                      &::after{
                          content: "million";
                          position: absolute;
                          bottom: 25%;
                          left: 0;
                          padding-left: 7rem;
                          font-size: 8rem;
                          font-weight: 400;
                          background: -webkit-linear-gradient(#6851FF, #A700F1);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
                      }
                   }
                }
                .stat-title{
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.6rem;
                    // color: rgba(255, 255, 255, 0.7);
                    color: #000;
                    font-family: $fontfamilypop;
                    width: 75%;
                }
            }
        }
        
    }
    .form-box{
        width: 60%;
        form{
            .innerForm{
                display: grid;
                grid-template-columns: 60% 40%;
                margin-top: 3rem;
                background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
                border: 1px soild #4d00aa;
                border-radius: 1rem;
                justify-content: space-between;
            .gstInp{
                
                input{
                    height: 5rem;
                    line-height: 1.4;
                    color: $brandBlueTwo;
                    font-weight: bold;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    // border: 1px solid $brandBlueTwo;
                    margin: 0 !important;
                    &::placeholder{
                        opacity: 0.7;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
            .cta{
                height: 5rem;
                // background-color: $brandBlueOne;
                // background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
                font-weight:bold;
                font-size: 1.6rem;
                padding: 0.8rem 2rem;
                border-radius: 1rem;
                margin-left: 0rem;
                background-color: transparent;
                border: 0;
            }
        }
        #existUser{
            font-family: $fontfamilyRegular;
            color: red;
            font-size: 1.4rem;
        }
        }
    }
    // .form-box{
    //     width: 60%;
    //     form{
    //         display: grid;
    //             grid-template-columns: 60% 40%;
    //             margin-top: 3rem;
    //             // align-items: center;
    //             justify-items: center;
    //         .gstInp{
    //             display: flex;
    //             justify-content: space-around;
    //             align-items: center;
    //             width: 100%;
    //             input{
    //                 height: 5rem;
    //                 line-height: 1.4;
    //                 color: $brandBlueTwo;
    //                 font-weight: bold;
    //                 font-size: 1.8rem;
    //                 text-transform: uppercase;
    //                 border-radius: 1rem;
    //                 &::placeholder{
    //                     opacity: 0.7;
    //                     font-weight: 500;
    //                     text-transform: capitalize;
    //                 }
    //             }
    //         }
    //         .cta{
    //             height: 5rem;
    //             background-color: transparent;
    //             font-weight:600;
    //             font-size: 1.8rem;
    //             letter-spacing: 1px;
    //             padding: 0.8rem 2rem;
    //             border-radius: 1rem;
    //             margin-left: 2rem;
    //             // border: 1px solid #fff;
    //             background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
    //             color: #fff;

                
    //         }
    //     }
    // }
//     &::before{
//         content: " ";
//         position: absolute;
//         top: -5%;
//         left: 5%;
//         width: 25rem;
//         height:25rem;
// background: linear-gradient(180deg, rgba(104, 81, 255, 0.4) 0%, rgba(169, 0, 241, 0.2) 100%);
// box-shadow: 0px 153px 179px rgba(0, 0, 0, 0.068), inset 0px 4px 97px rgba(255, 255, 255, 0.082);
// border-radius: 100%;

//     }
//     &::after{
//         content: " ";
//         position: absolute;
//         top: 8%;
//         left: 3%;
//         width: 15rem;
//         height:15rem;
// background: linear-gradient(180deg, rgba(104, 81, 255, 0.557) 0%, rgba(169, 0, 241, 0.555) 100%);
// box-shadow: 0px 153px 179px rgba(0, 0, 0, 0.068), inset 0px 4px 97px rgba(255, 255, 255, 0.082);
// border-radius: 100%;

//     }
    }
    .section-2{
        padding: 6rem 10%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        text-align: center;
        @include respond(phone){
            padding: 6rem 5%;
        }
        .section-title{
            text-align: center;
    font-size: 5.6rem;
    font-weight: 700;
    padding-bottom: 5rem;
        }
    }
    .section-4{
        padding: 6rem 10%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        text-align: center;
        background: $blueGradient;
        @include respond(phone){
            padding: 6rem 5%;
        }
        .message{
            @include fontRender($fontwhite, 2rem, 500, 1.4);
        }
        .section-title{
            @include fontRender($fontwhite, 5.6rem, 700, 6.7rem);
        }
        .desc{
            @include fontRender($fontWhite-60, 1.6rem, 500, 1.4);
            
        }
        .main-box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 3rem;
            padding-top: 5rem;
            @include respond(phone){
                grid-template-columns: repeat(2, 1fr);
                gap: 0 3rem;
            }
            .box{
                .box-img{
                    margin-bottom: 2rem
                }
                .content{
                    @include fontRender($fontwhite, 1.6rem, 500, 1.4);
                }
            }
        }
        .cta{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            .cta-btn{
                color: $fontPrimary;
            }
        }
    }
    .section-5{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 6rem 10% 15rem;
        overflow: hidden;
        @include respond(tab-land){
            padding: 6rem 5%;
        }
        .section-title{
            @include fontRender($fontPrimary, 5.6rem, 700, 6.7rem);
            width: 100%;
            text-align: center;
            @include respond(phone){
                width: 100%;
            }
            .highlight{
                background: -webkit-linear-gradient(#6851FF, #A700F1);
                background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
        .sec-desc{
            @include fontRender($fontPrimary, 2.2rem, 500, 1.4);
            text-align: center;
        }
        // .main-box{
        //     padding-top: 5rem;
        //     display: grid;
        //     grid-template-columns: repeat(3, 1fr);
        //     gap: 0 6rem;
        //     @include respond(phone){
        //         grid-template-columns: 1fr;
        //         gap: 3rem 0;
        //     }
        //     .box{
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        //         padding: 2rem 3rem;
        //         border-radius: 10px;
        //         .box-img{
        //             width: 8rem;
        //         }
        //         .box-title{
        //             @include fontRender($fontTitle, 2.8rem, 700, 1.4);
        //             padding: 2rem 0;
        //             .highlight{
        //                 color: rgba(104, 81, 255, 0.4);
        //             }
        //         }
        //         .content{
        //             @include fontRender($font-60, 1.8rem, 500, 1.4);
        //             text-align: center;
        //         }
        //     }
        // }
        .main-box{
            display: flex;
            flex-direction: column;
            padding: 3rem 0;
            .box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left{
                    width: 50%;
                    .box-title{
                                    @include fontRender($fontTitle, 4.2rem, 700, 1.4);
                                    padding: 2rem 0;
                                    .highlight{
                                        background: -webkit-linear-gradient(#6851FF, #A700F1);
                                        background-clip: border-box;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    }
                                }
                                .content{
                                    @include fontRender($font-60, 1.8rem, 400, 1.4);
                                    font-family: $fontfamilypop;
                                }
                }
                .right{
                    width: 50%;
                }
            }
            .box-middle{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left{
                    width: 50%;
                    
                }
                .right{
                    .box-title{
                        @include fontRender($fontTitle, 4.2rem, 700, 1.4);
                        padding: 2rem 0;
                        .highlight{
                            background: -webkit-linear-gradient(#6851FF, #A700F1);
                            background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        }
                    }
                    .content{
                        @include fontRender($font-60, 1.8rem, 400, 1.4);
                        font-family: $fontfamilypop;
                    }
                }
            }
        }
        &::before{
            content: " ";
            position: absolute;
            top: -5%;
            left: 5%;
            width: 25rem;
            height:25rem;
background: linear-gradient(180deg, rgba(104, 81, 255, 0.4) 0%, rgba(169, 0, 241, 0.2) 100%);
box-shadow: 0px 153px 179px rgba(0, 0, 0, 0.068), inset 0px 4px 97px rgba(255, 255, 255, 0.082);
border-radius: 100%;

        }
        &::after{
            content: " ";
            position: absolute;
            top: 8%;
            left: 3%;
            width: 15rem;
            height:15rem;
background: linear-gradient(180deg, rgba(104, 81, 255, 0.557) 0%, rgba(169, 0, 241, 0.555) 100%);
box-shadow: 0px 153px 179px rgba(0, 0, 0, 0.068), inset 0px 4px 97px rgba(255, 255, 255, 0.082);
border-radius: 100%;

        }
    }
    .section-6{
        display: flex;
        flex-direction: column;
        padding: 6rem 10% 15rem;
        @include respond(tab-land){
            padding: 6rem 5%;
        }
        .section-title{
            @include fontRender($fontPrimary, 5.6rem, 700, 6.7rem);
            width: 100%;
            text-align: center;
            @include respond(phone){
                width: 100%;
            }
            .highlight{
                background: -webkit-linear-gradient(#6851FF, #A700F1);
                background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
        .sec-desc{
            @include fontRender($fontPrimary, 2.2rem, 500, 1.4);
            text-align: center;
        }
        .main-box{
            padding-top: 5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 6rem;
            @include respond(phone){
                grid-template-columns: 1fr;
                gap: 3rem 0;
            }
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .img-box{
                    position: relative;
                    &:hover{
                        .bg-img{
                            animation: spin 5s linear infinite !important;
                        }
                    }
                .box-img{
                    width: 20rem;
                    width: 10rem;
height: auto;
padding: 2rem;
border-radius: 100%;
background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
                    
                }
                .bg-img{
                    content: "";
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 6px;
                    transform: rotate(33.75deg);
                    background: linear-gradient(45deg, transparent, rgba(104, 81, 255, 0.2));
                    display: none;

                }
                }
                
                .box-title{
                    @include fontRender($fontTitle, 2.8rem, 700, 1.4);
                    padding: 2rem 0;
                    font-family: $fontfamilyBold;
                    // .highlight{
                    //     background: -webkit-linear-gradient(#6851FF, #A700F1);
                        
                    //     background-clip: border-box;
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    // }
                    
                }
                .content{
                    @include fontRender($font-60, 1.8rem, 400, 1.4);
                    font-family: $fontfamilypop;
                }
            }
        }
    }
    .section-7{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12rem 10%;
        flex-direction: column;
        // background: $blueGradient;
        background-image: linear-gradient(to right bottom, #4300a3, #4d00aa, #5700b1, #6000b7, #6a00be, #7200c5, #7b00cb, #8300d2, #8c00da, #9500e2, #9e00e9, #a700f1);
        text-align: center;
        @include respond(phone){
            padding: 12rem 5%;
        }
        .section-title{
            @include fontRender($fontwhite, 5.6rem, 700, 6.7rem);
        }
        .sec-desc{
            @include fontRender($fontWhite-60, 1.8rem, 500, 1.4);
            margin-bottom: 7rem;
            font-family: $fontfamilypop;
        }
        .cta{
            .cta-btn{
                padding: 2rem 4rem;
                color: $fontPrimary;
            }
        }
    }
}
footer{
    
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer-top{
        background-color: #252f38;
        padding: 6rem 10% 4rem;
        .main-box{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem 4rem;
            color: #fff;
            justify-content: space-between; 
            .box{
                .box-title{
                    font-family: $fontfamilyBold;
                    font-size: 2.4rem;
                    line-height: 1.7;
                    margin-bottom: 2rem;
                }
                .content{
                    font-family: $fontfamilyRegular;
                    font-size: 1.6rem;
                    line-height: 1.4;
                    margin-bottom: 2rem;
                }
                // .links{
                //     display: flex;
                //     flex-direction: column;
                    
                //     margin-bottom: 2rem;
                //     a{
                //         color: #fff;
                //         font-family: $fontfamilyRegular;
                //         font-size: 1.6rem;
                //         line-height: 1.4;
                //         margin-bottom: 1rem;
                //         text-decoration: none;
                //             &:hover{
                //                 text-decoration: none;
                //                 color:$fontWhite-60;
                //             }
                //     }
                    
                // }
                .links{
                    display: flex;
                    justify-content: left;
                    a{
                        margin-right: 2rem;
                        transition: all .3s linear;
                        &:hover{
                            opacity: 0.8;
                        }
                        img{
                            width: 5rem;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding: 2rem 10%;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.4;
        font-family: $fontfamilyRegular;
        color: $fontWhite-60;
        background-color: #1b2229;
    }
}
.error{
    border: 2px solid #ff623e;
    &:focus{
        border: 2px solid #ff623e;
        box-shadow: none;
    }
}