/*Silka Fonts Starts*/
@font-face {
  font-family: 'silka-black';
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-black-webfont.eot");
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-black-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-black-webfont.woff") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-black-webfont.woff2") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'silka-regular';
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-regular-webfont.eot");
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-regular-webfont.woff") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-regular-webfont.woff2") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'silka-bold';
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-bold-webfont.eot");
  src: url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-bold-webfont.woff") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-bold-webfont.woff2") format("woff"), url("/assets/Silka-Complete-Webfont/Silka-Roman-Webfont/silka-bold-webfont.ttf") format("truetype");
}

/*Silka Fonts Ends*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body,
html {
  font-family: "silka-regular", Arial, sans-serif;
}

body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body .btn-brandgreen {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.05rem;
  background-color: #5EEDA3;
  border-color: #5EEDA3;
  border-radius: 3px;
  padding: 0.7rem 2rem;
  text-transform: capitalize;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
  border-radius: 7rem;
  padding: 3rem 6rem;
}

body .btn-brandgreen:hover {
  text-decoration: none;
  background-color: #4dca8a;
}

body .section-title {
  font-size: 2.175rem;
  font-weight: 700;
  line-height: 2.875rem;
  color: #110656;
  margin-bottom: 1.075rem;
}

body .section-desc {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.85rem;
  font-size: 1.125rem;
  margin-bottom: 2.175rem;
}

.scrollDown {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #6851FF;
  border-bottom: 2px solid #6851FF;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.mouse {
  width: 2.4rem;
  height: 4.2rem;
  border: 2px solid #6851FF;
  border-radius: 1.4rem;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: alternate;
          animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #6851FF;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #6851FF;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

body {
  overflow-x: hidden !important;
  color: #020a1c;
}

@-webkit-keyframes twinkle-star {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes twinkle-star {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes twinkle-star-small {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes twinkle-star-small {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  to {
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
}

@keyframes float {
  from {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  to {
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
}

.section-title {
  font-family: "silka-bold", Arial, sans-serif;
  margin-bottom: 1.6rem;
  color: #110656;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

header {
  background-color: #fff;
}

header .navbar {
  padding: 2rem 10%;
}

@media only screen and (max-width: 75em) {
  header .navbar {
    padding: 2rem 5%;
  }
}

header .navbar .navbar-brand {
  max-width: 15rem;
}

header .navbar .navbar-brand img {
  width: 100%;
}

header .navbar .navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
}

header .navbar .navbar-collapse .navbar-nav {
  padding-left: 5rem;
}

header .navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 0 0 2rem;
}

main {
  background-color: #fff;
}

main .title {
  font-family: "silka-bold", sans-serif;
  color: #000;
  font-size: 5.4rem;
  padding: 6rem 10% 3rem;
}

main .line {
  margin: 0 10%;
}

main .features {
  font-family: "silka-regular", sans-serif;
  color: #000;
  font-size: 4.8rem;
  padding: 3rem 10% 0;
  font-weight: 600;
}

main .main-box {
  padding: 3rem 10% 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
}

main .main-box .box .box-title {
  font-family: "silka-regular", sans-serif;
  color: #000;
  font-size: 2.4rem;
  padding: 0 0 2rem;
  font-weight: 600;
  line-height: 1.7;
}

main .main-box .box .box-content {
  font-family: "silka-regular", sans-serif;
  color: #333232;
  font-size: 1.6rem;
  padding: 1rem 0;
}

main .main-box .box .box-link {
  color: #10ac84;
  font-family: "silka-regular", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main .main-box .box .box-link:hover {
  color: #098062;
}

main .main-box-2 {
  padding: 6rem 10%;
}

main .subscribe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  margin: 3rem 10%;
  background-color: #5EEDA3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
  border-radius: 0.4rem;
}

main .subscribe .box-1 .section-title {
  font-family: "silka-bold", sans-serif;
  color: #fff;
  font-size: 4.2rem;
  line-height: 1.7;
}

main .subscribe .box-1 .message {
  font-family: "silka-regular", sans-serif;
  font-weight: 1.4;
  font-size: 2.4rem;
  color: #fff;
}

main .subscribe .box-2 .content {
  font-family: "silka-regular", sans-serif;
  font-weight: 1.4;
  font-size: 1.6rem;
  color: #fff;
}

main .subscribe .box-3 form .form-box .form-control {
  height: 4rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: "silka-regular", sans-serif;
}

main .subscribe .box-3 form .form-box .form-control::-webkit-input-placeholder {
  color: #bbb8b8;
}

main .subscribe .box-3 form .form-box .form-control:-ms-input-placeholder {
  color: #bbb8b8;
}

main .subscribe .box-3 form .form-box .form-control::-ms-input-placeholder {
  color: #bbb8b8;
}

main .subscribe .box-3 form .form-box .form-control::placeholder {
  color: #bbb8b8;
}

main .subscribe .box-3 form .cta {
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: "silka-regular", sans-serif;
  padding: 1rem 3rem;
  background-color: #000;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 1rem;
  width: 100%;
}

footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-top {
  background-color: #252f38;
  padding: 6rem 10% 4rem;
}

footer .footer-top .main-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top .main-box .box .box-title {
  font-family: "silka-bold", sans-serif;
  font-size: 2.4rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

footer .footer-top .main-box .box .content {
  font-family: "silka-regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

footer .footer-top .main-box .box .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

footer .footer-top .main-box .box .links a {
  color: #fff;
  font-family: "silka-regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-decoration: none;
}

footer .footer-top .main-box .box .links a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

footer .footer-bottom {
  padding: 2rem 10%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4;
  font-family: "silka-regular", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  background-color: #1b2229;
}

.error {
  border: 2px solid #ff623e;
}

.error:focus {
  border: 2px solid #ff623e;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=blog-index.css.map */